.site-header {
    position: absolute;
    width: 100%;
    z-index: 1;

	.navbar {
	    padding: 35px 0;

	    .navbar-brand {
	    	padding: 0;
	    	img {
	    		display: block;
	    	}
	    }

	    .navbar-collapse {
	    	flex-grow: unset;

	    	> ul {
	    		@media only screen and (max-width: 767px) {
					margin-top: 30px;
				    padding: 30px 50px;
				    background: #000;
				}
	    	}
	    	
	    }

	    

	    .navbar-nav {
	    	@media only screen and (max-width: 767px) {
				margin: 0;
			}

    		li:last-child {
    			&.menu-btn {
					.nav-link {
						margin-right: 0;
					}
				}
    		}
    	}

    	.nav-link {
    		font-family: 'Rubik', serif;
			font-size: 12px;
			font-weight: 500;
			line-height: 14px;
			text-align: center;
			padding: 10px 20px;
			color: #fff;
			&:hover {
				background-color: #fff;
    			border-radius: 4px;
				color: #606B74;
			}
    	}

    	.menu-btn {
    		.nav-link {
    			background-color: #fff;
    			border-radius: 4px;
    			margin: 0 20px;
				color: #606B74;
				
				@media only screen and (max-width: 767px) {
					margin: 0;
				}
	    	}
    	}

	    .dropdown-menu {
	    	padding: 5px;
	    	font-size: 12px;
	    	font-weight: 500;
	    	font-family: 'Rubik', serif;
	    	border-color: rgba(0,0,0,.05);
	    }

	    .dropdown-item {
	    	padding: 5px 15px;

	    	&.active,
	    	&:active {
	    		background-color: transparent;
	    		color: #606B74;
	    	}
	    }

	    .navbar-toggler {
		    border-color: #fff;
		}

	}
}
