// Home Hero Style
.home-hero-section {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    padding: 200px 0 250px;

    @media only screen and (max-width: 767px) {
		background-size: cover;
		padding: 150px 0;
	}

    .overlay {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: #000;
	    z-index: -1;
	    opacity: .8;
	}

	.home-hero-heading {
	    padding-right: 80px;
	}

	.home-hero-sub-title {
	    font-size: 16px;
	    line-height: 19px;
	    opacity: .8;
	    margin-bottom: 15px;
	}

	.home-hero-title {
	    margin: 0;
	    font-size: 30px;
	    line-height: 38px;

	    @media only screen and (max-width: 767px) {
    	    font-size: 24px;
		    line-height: 34px;
		    margin-bottom: 30px;
	    }
	}

	.home-hero-video {
	    a {
		    color: #fff;
		    text-decoration: none;
		    font-weight: 500;
		    font-size: 12px;
		    display: flex;
		    justify-content: center;
		    align-items: center;

		    i {
			    font-size: 32px;
			    margin-right: 10px;
			}
		}
	}

	.home-hero-social {
		position: absolute;
	    top: 400px;
	    right: 25px;
	    transform: rotate(90deg);
	    transform-origin: right top;

	    @media only screen and (max-width: 767px) {
	    	right: 10px;
	    }

	    ul {
		    list-style: none;
		    margin: 0;
		    padding: 0;

		    li {
			    display: inline-block;

			    a {
				    font-weight: 500;
				    font-size: 10px;
				    line-height: 12px;
				    text-decoration: none;
				    color: #fff;
				    text-align: center;
				    padding: 0 20px;

				    &:hover {
				    	color: #000;
				    }
				}
			}
		}
	}
}

// Home About Style
.home-about-section {
	.home-about-heading {
		font-size: 30px;
		line-height: 38px;
	    margin-bottom: 15px;
	}

	.home-about-text {
	    color: #646D70;
	    font-size: 14px;
	    line-height: 26px;

	    .btn {
		    font-family: Rubik;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 12px;
		    line-height: 14px;
		    padding: 10px 25px;
		}
	}

	.home-about-top {
		position: relative;

		&:after {
		    position: absolute;
		    content: "";
		    background: #222F33;
		    width: 35%;
		    height: 100px;
		    right: 0;
		    bottom: 0;
		    z-index: -1;

		    @media only screen and (max-width: 767px) {
				position: static;
    			padding-bottom: 60px;
		    }
		}

		.home-about-text {
			padding: 60px 390px 30px 0;

			@media only screen and (max-width: 1199px) {
				padding: 60px 60px 30px 0;
			}

			@media only screen and (min-width: 768px) and (max-width: 991px) {
				padding: 60px 0;
			}

			@media only screen and (max-width: 767px) {
				padding: 60px 0;
			}
		}

		.home-about-slider {
		    position: relative;
		    top: -50px;
		    left: -50px;

		    @media only screen and (min-width: 768px) and (max-width: 991px) {
				top: -25px;
		    	left: 0;
			}

			@media only screen and (max-width: 767px) {
		    	position: static;
    			padding-bottom: 60px;
		    }

		    .carousel-indicators [data-bs-target] {
			    width: 8px;
			    height: 8px;
			    max-width: 0 8px;
			    border-radius: 100%;
			}
		}
	}

	.home-about-bottom {
		background-color: #222F33;
		padding: 75px 0;

		.home-about-heading {
			color: #fff;
		}

		.home-about-text {
		    color: #fff;
		    p {
		    	opacity: .7;
		    }
		}
	}
}